*
{ 
    margin: 20px;
}
body
{
    background-color:darksalmon;
}
h1
{
    color: blue;
    font-size: 50px;
}
img
{
    width: 60%;
    height: 400;
}
p
{
    background-color: chocolate;
    color: coral;
    font-family: 'Courier New', Courier, monospace;
}
